
<%- include layaouts/header.ejs %> <!--aqui llamo al archivo header.ejs que contiene la cabcera de mi sitio web con el navbar-->

    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
    
  <%- include layaouts/footer.ejs %> <!--aqui llamo a mi archivo footer.ejs que contiene el footer d emi sitio web-->
  </body>
</html>
